section.footer(flex="90")
	md-button(ng-click="mandaAhome()")
		img(src="img/logo.png")
	.secciones-container(layout="row")
		.seccion-uno(layout="column")
			h4(ng-click="mandarApagina(1)") Inicio
			h4(ng-click="mandarApagina(2)") Servicios
			h4(ng-click="mandarApagina(3)") Instalaciones
		.seccion-dos(layout="column")
			h4(ng-click="mandarApagina(4)") Contacto
			h4(ng-click="mandarApagina(5)") Instructores
			h4(ng-click="mandarApagina(6)") Salones
	.contactoFooter
		p 01 229 921 1970
		p Urano 400, Jardines de Mocambo, 94299 Boca del Río
		.iconos
			img(src="img/facebook.png")
			img(src="img/instagram.png")
	.textoFooter
		p  Somos el Racquet club
		p  Ven a pasarla bien con nuestro ambiente familiar.
