md-dialog
	md-toolbar
		.md-toolbar-tools
			h4 Nuevo Instructor
			span(flex)
			md-button(ng-click="close()")
				md-icon clear
	form.md-padding(layout="row" ng-submit="submit(instructor)")
		md-input-container(flex)
			label Nombre del Instructor
			input(ng-model="instructor.nombre" required)
		md-button.md-raised(type="submit")
			md-icon save

