md-dialog
	md-toolbar
		.md-toolbar-tools
			h4 Nueva Noticia
			span(flex)
			md-button(ng-click="close()")
				md-icon clear
	form.md-padding(layout="row" ng-submit="submit(noticia)")
		md-input-container(flex)
			label Nombre de la noticia
			input(ng-model="noticia.nombre" required)
		md-button.md-raised(type="submit")
			md-icon save

