md-dialog
	md-toolbar
		.md-toolbar-tools
			h4 {{institucionOne.nombre}}
			span(flex)
			md-button(ng-click="close()")
				md-icon clear
	.tarjetaInstalacion-container(layout="row")
		tarjetaInstalacion(id="institucionOne.id")
		.descripcion-content(ng-bind-html="institucionOne.descripcion")