mobile = "(max-width: 600px)"

md-grid-list
	md-grid-tile
		background-repeat no-repeat
		background-size cover
		background-position center

.croppie-container
	max-height 200px
	.cr-boundary
		width 300px
		height 235px !important
.imagen-container
	width 100%
	height 24%
	.dropify-container
		width 96%
		
.md-virtual-repeat-container
	height 30%

.dropify-wrapper
	&.touch-fallback
		.dropify-clear
			bottom 8px !important
.descripcion-container
	text-angular
		.ta-toolbar
			display flex
			flex-direction row
			flex-wrap wrap
			.ta-button-group
				button
					md-icon 
						color #1b5e20
	.titulo
		md-icon
			margin-left 0
			margin 13px

.ta-scroll-window
	& > .ta-bind
		min-height 150px !important

.servicio
	.servicio-content
		@media mobile
			width 100%
			max-width inherit	
		.md-toolbar-tools
			h4
				font-size 2vw
	.DespuesEdicion
		.servicio-form
			.descripcion-container
				text-angular
					.ta-toolbar
						display flex
						flex-direction row
						flex-wrap wrap
						.ta-button-group
							button
								md-icon 
									color #1b5e20
				.titulo
					md-icon
						margin-left 0
						margin 13px
		.servicio.info
			background-color #1a57a5 !important
				

	.AntesEdicion
		h1
			font-size 2vw
		h3
			font-size 1.3vw
		.infoBasica-content
			p 
				font-size 1.3vw
				text-align justify
			
.instalacion
		display flex
		justify-content center
		align-items center
	.instalaciones-content
		width 76vw
		@media mobile
			width 100%
			max-width inherit
		.instalacion.info
			background-color #1a57a5 !important
	.AntesEdicion
		h1
			@media mobile
				font-size 4vw
			font-size 2vw
		h3
			@media mobile
				font-size 3vw
			font-size 1.3vw
		.infoBasica-content
			p 
				@media mobile
					font-size 3vw
				font-size 1.3vw
				text-align justify

.salon
	.salon-content
		@media mobile
			width 100%
			max-width inherit
		.servicio.info
			background-color #1a57a5 !important

	.AntesEdicion
		h1
			@media mobile
				font-size 4vw
			font-size 2vw
		h3
			@media mobile
				font-size 3vw
			font-size 1.3vw
		.infoBasica-content
			p 
				@media mobile
					font-size 3vw
				font-size 1.3vw
				text-align justify
				
.evento
	.evento-content
		@media mobile
			width 100%
			max-width inherit
		.evento.info
			background-color #1a57a5 !important
	.eventos-container
		@media mobile
			width 100%
			max-width inherit
	.AntesEdicion
		h1
			@media mobile
				font-size 4vw
			font-size 2vw
		h3
			@media mobile
				font-size 3vw
			font-size 1.3vw
		.infoBasica-content
			p 
				@media mobile
					font-size 3vw
				font-size 1.3vw
				text-align justify
				
.instructor
	display flex
	justify-content center
	align-items center
	.instructores-content
		width 76vw
		@media mobile
			width 100%
			max-width inherit
		.instructor.info
			background-color #1a57a5 !important

	.AntesEdicion
		h1
			@media mobile
				font-size 4vw
			font-size 2vw
		h3
			@media mobile
				font-size 3vw
			font-size 1.3vw
		.infoBasica-content
			p 
				@media mobile
					font-size 3vw
				font-size 1.3vw
				text-align justify
				
.imagenes
	.imagenes-container
		.imagenes-content
			.imagen
				@media mobile
					max-width inherit
				.imagen-button
					background-color #1b5e20
					margin-top 7vh