* {
  box-sizing: border-box;
  font-family: Cabin;
}
md-grid-list md-grid-tile {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main {
  position: relative;
  min-height: 100vh;
  width: 100%;
}
md-sidenav {
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
md-sidenav .cortina {
  width: 100%;
  height: 100%;
  background-color: #3a512b;
  opacity: 0.9;
  position: absolute;
}
md-sidenav .cerrar {
  width: 100%;
  z-index: 1;
}
@media (max-width: 800px) {
  md-sidenav .cerrar {
    display: none;
  }
}
md-sidenav .cerrar:focus {
  outline: 0px;
}
md-sidenav .cerrar p {
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  margin-right: 10vw;
}
md-sidenav .lineas {
  position: absolute;
  top: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 800px) {
  md-sidenav .lineas {
    display: none;
  }
}
md-sidenav .lineas .linea {
  border-right: 1px solid rgba(255,255,255,0.4);
  width: 100%;
  transform: skew(-40deg, 0);
}
md-sidenav .lineas .linea:first-child {
  border-left: 1px solid rgba(255,255,255,0.4);
}
md-sidenav md-list md-list-item,
md-sidenav md-list .md-list-item-inner {
  display: flex;
  justify-content: center;
}
md-sidenav md-list md-list-item h4,
md-sidenav md-list .md-list-item-inner h4 {
  font-size: 35px;
  font-weight: 100;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin: 15px;
}
@media (max-width: 800px) {
  md-sidenav md-list md-list-item h4,
  md-sidenav md-list .md-list-item-inner h4 {
    font-size: 19px;
    margin: 7px;
  }
}
md-sidenav .direcciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
md-sidenav .direcciones .redes {
  margin-bottom: 10px;
}
md-sidenav .direcciones .redes img {
  height: 26px;
  width: 26px;
  margin-right: 8px;
}
md-sidenav .direcciones p {
  color: #fff;
  font-size: 15px;
  margin: 0;
}
@media (max-width: 800px) {
  md-sidenav .direcciones p {
    font-size: 13px;
  }
}
.nav {
  height: 40px;
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #3a512b;
}
.nav .nav-content {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav .nav-content .logo {
  width: 124px;
  cursor: pointer;
}
.nav .nav-content .logo:focus {
  outline: 0px;
}
.nav .nav-content div {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .nav .nav-content .conoceMas {
    display: none;
  }
}
.nav .nav-content .conoceMas .md-button {
  margin: 0 15px;
  min-height: 30px;
  line-height: 30px;
  height: 30px;
  padding: 0 5px;
}
@media (max-width: 800px) {
  .nav .nav-content .navegacion {
    display: none;
  }
}
.nav .nav-content .navegacion .md-button:first-child {
  border-right: 1px solid rgba(255,255,255,0.3);
}
.nav .nav-content h3 {
  color: #fff;
  cursor: pointer;
  font-size: 1vw;
}
.nav .nav-content h3:focus {
  outline: 0px;
}
.nav .nav-content p,
.nav .nav-content span {
  color: #fff;
  font-size: 12px;
}
.nav .nav-content .md-button .menu {
  height: 40px;
  margin: 0px;
  border-radius: 0px;
  line-height: 40px;
}
.menu-home md-sidenav {
  display: flex;
  position: fixed;
  max-width: inherit;
  width: 100%;
}
footer {
  background-color: #8e2e2e;
}
footer .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 800px) {
  footer .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
footer .footer .md-button {
  width: 10%;
}
@media (max-width: 800px) {
  footer .footer .md-button {
    width: 38%;
  }
}
footer .footer .md-button img {
  width: 100%;
}
footer .footer .secciones-container {
  display: flex;
  cursor: pointer;
  width: 13%;
  justify-content: space-between;
}
@media (max-width: 800px) {
  footer .footer .secciones-container {
    display: none;
  }
}
footer .footer .secciones-container .seccion-uno,
footer .footer .secciones-container .seccion-dos {
  height: 10%;
  display: flex;
  justify-content: center;
}
footer .footer .secciones-container .seccion-uno h4,
footer .footer .secciones-container .seccion-dos h4 {
  margin: 2px;
  color: #fff;
  font-size: 12px;
}
footer .footer .secciones-container .seccion-uno h4:focus,
footer .footer .secciones-container .seccion-dos h4:focus {
  outline: 0px;
}
footer .footer .contactoFooter p,
footer .footer .textoFooter p {
  margin: 2;
  color: #fff;
  font-size: 12px;
}
@media (max-width: 800px) {
  footer .footer .contactoFooter p,
  footer .footer .textoFooter p {
    text-align: center;
  }
}
@media (max-width: 800px) {
  footer .footer .textoFooter {
    display: none;
  }
}
footer .footer .contactoFooter {
  margin-right: 400px;
}
footer .footer .contactoFooter .iconos {
  display: flex;
  flex-direction: row;
}
@media (max-width: 800px) {
  footer .footer .contactoFooter .iconos {
    justify-content: center;
    align-items: center;
  }
}
footer .footer .contactoFooter .iconos img {
  height: 14px;
  width: 14px;
  margin-right: 5px;
}
@media (max-width: 800px) {
  footer .footer .contactoFooter {
    margin-right: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 15px;
  }
}
.home-container {
  position: relative;
  min-height: 100vh;
}
.home-container .home-content {
  position: relative;
  margin: 10vh 10vw;
  min-height: 80vh;
  width: 80vw;
}
.home-container .home-content section.grid-container {
  margin-top: 10%;
  min-height: 100vh;
  position: relative;
  margin-bottom: 20vh;
}
.home-container .home-content section.grid-container md-grid-list {
  transform: scale(0.9) !important;
}
.home-container .home-content section.grid-container md-grid-list md-grid-tile {
  cursor: pointer;
}
.home-container .home-content section.grid-container md-grid-list md-grid-tile .contenido {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home-container .home-content section.grid-container md-grid-list md-grid-tile .contenido>* {
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.home-container .home-content section.grid-container md-grid-list md-grid-tile .contenido .capa {
  width: 0%;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
  opacity: 0.9;
  position: absolute;
  z-index: 2;
  transform: skew(-50deg, 0);
  left: -50%;
}
.home-container .home-content section.grid-container md-grid-list md-grid-tile .contenido .imagen {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home-container .home-content section.grid-container md-grid-list md-grid-tile .contenido md-grid-tile-footer {
  bottom: -50px;
  height: 80px;
  background-color: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0;
}
.home-container .home-content section.grid-container md-grid-list md-grid-tile .contenido md-grid-tile-footer p {
  font-weight: 800;
}
.home-container .home-content section.grid-container md-grid-list md-grid-tile .contenido .ir {
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 30px;
}
.home-container .home-content section.grid-container md-grid-list md-grid-tile .contenido .ir .md-button {
  min-height: 0px;
  height: 25px;
  background-color: #3a512b;
  margin: 0px;
  min-width: 0px;
  border-radius: 30px;
  display: flex;
  justify-content: flex-start;
  line-height: 25px;
  color: #fff;
  text-transform: inherit;
  padding: 0 5px;
  margin: 0 5px;
}
.home-container .home-content section.grid-container md-grid-list md-grid-tile .contenido .ir .md-button md-icon {
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
  margin: 0px;
  color: #fff;
}
.home-container .home-content section.grid-container md-grid-list md-grid-tile:hover .capa {
  -webkit-animation: destello 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: destello 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -webkit-transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 500ms ease-in-out;
  transition-delay: 500ms ease-in-out;
  -webkit-transition-delay: infinite ease-in-out;
  transition-delay: infinite ease-in-out;
}
.home-container .home-content section.grid-container md-grid-list md-grid-tile:hover .imagen {
  transform: scale(1.2);
}
.home-container .home-content section.grid-container md-grid-list md-grid-tile:hover md-grid-tile-footer {
  bottom: 0px;
  opacity: 1;
  padding: 0 10px;
  background-color: rgba(0,0,0,0.2);
}
.home-container .home-content section.grid-container md-grid-list md-grid-tile:hover .ir .md-button md-icon {
  margin-left: 10px;
}
.home-container .home-content section.club {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
@media (max-width: 800px) {
  .home-container .home-content section.club {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .home-container .home-content section.club .texto {
    max-width: 100%;
    max-height: 40%;
  }
}
.home-container .home-content section.club .texto h1 {
  color: #808080;
  font-size: 80px;
  margin: 0;
  font-weight: 100;
}
@media (max-width: 800px) {
  .home-container .home-content section.club .texto h1 {
    font-size: 40px;
  }
}
.home-container .home-content section.club .texto p {
  font-size: 20px;
  margin: 0;
  margin-left: 5vw;
}
@media (max-width: 800px) {
  .home-container .home-content section.club .texto p {
    font-size: 10px;
  }
}
.home-container .home-content section.club .texto .texto-descripcion {
  width: 70%;
}
@media (max-width: 800px) {
  .home-container .home-content section.club .texto .texto-descripcion {
    width: 100%;
  }
}
.home-container .home-content section.club .texto .texto-descripcion p {
  font-size: 16px;
  text-align: justify;
  padding: 10px;
}
.home-container .home-content section.ambiente {
  min-height: 100vh;
md-grid-list
  transform: scale(0.9) !important;
}
.home-container .home-content section.ambiente md-grid-list {
  transform: scale(0.9) !important;
}
.home-container .home-content section.ambiente .texto h1 {
  color: #808080;
  font-size: 80px;
  margin: 0;
  font-weight: 100;
}
@media (max-width: 800px) {
  .home-container .home-content section.ambiente .texto h1 {
    font-size: 40px;
  }
}
.home-container .home-content section.ambiente .texto p {
  font-size: 20px;
  margin: 0;
  margin-left: 5vw;
}
@media (max-width: 800px) {
  .home-container .home-content section.ambiente .texto p {
    font-size: 10px;
  }
}
.home-container .home-content section.ambiente .datos h1 {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
}
@media (max-width: 800px) {
  .home-container .home-content section.ambiente .datos h1 {
    font-size: 23px;
  }
}
.home-container .home-content section.ambiente .datos p {
  color: #fff;
  margin: 0;
  padding: 10px;
  text-align: justify;
  font-size: 14px;
}
@media (max-width: 800px) {
  .home-container .home-content section.ambiente .datos p {
    font-size: 10px;
  }
}
.instalaciones-container {
  position: relative;
  min-height: 100vh;
}
.instalaciones-container .instalaciones-content {
  position: relative;
  margin: 10vh 10vw;
  min-height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
}
@media (max-width: 800px) {
  .instalaciones-container .instalaciones-content {
    flex-direction: column;
  }
}
.instalaciones-container .instalaciones-content .texto-container {
  margin-top: 5vw;
}
.instalaciones-container .instalaciones-content .texto-container .texto p {
  margin: 0;
  font-size: 20px;
  margin-left: 4vw;
}
@media (max-width: 800px) {
  .instalaciones-container .instalaciones-content .texto-container .texto p {
    font-size: 13px;
  }
}
.instalaciones-container .instalaciones-content .texto-container .texto h1 {
  color: #808080;
  font-size: 60px;
  margin: 0;
  font-weight: 100;
}
@media (max-width: 800px) {
  .instalaciones-container .instalaciones-content .texto-container .texto h1 {
    font-size: 45px;
  }
}
.instalaciones-container .instalaciones-content .texto-container .descripcion p {
  text-align: justify;
  font-size: 13px;
  padding: 20px;
  margin-left: 3vw;
}
.instalaciones-container .instalaciones-content .grid-instalaciones {
  width: 305%;
}
@media (max-width: 800px) {
  .instalaciones-container .instalaciones-content .grid-instalaciones {
    width: 100% !important;
  }
}
.instalaciones-container .instalaciones-content .grid-instalaciones md-grid-list md-grid-tile {
  cursor: pointer;
  overflow: hidden;
}
.instalaciones-container .instalaciones-content .grid-instalaciones md-grid-list md-grid-tile:focus {
  outline: 0px;
}
.instalaciones-container .instalaciones-content .grid-instalaciones md-grid-list md-grid-tile .capa {
  width: 0%;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
  opacity: 0.9;
  position: absolute;
  z-index: 2;
  transform: skew(-50deg, 0);
  left: -50%;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.instalaciones-container .instalaciones-content .grid-instalaciones md-grid-list md-grid-tile .imagen {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.instalaciones-container .instalaciones-content .grid-instalaciones md-grid-list md-grid-tile md-grid-tile-footer {
  bottom: -50px;
  height: 80px;
  background-color: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.instalaciones-container .instalaciones-content .grid-instalaciones md-grid-list md-grid-tile md-grid-tile-footer p {
  font-size: 13px;
}
.instalaciones-container .instalaciones-content .grid-instalaciones md-grid-list md-grid-tile .ir {
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 30px;
}
.instalaciones-container .instalaciones-content .grid-instalaciones md-grid-list md-grid-tile .ir .md-button {
  min-height: 0px;
  height: 25px;
  background-color: #3a512b;
  margin: 0px;
  min-width: 0px;
  border-radius: 30px;
  display: flex;
  justify-content: flex-start;
  line-height: 25px;
  color: #fff;
  text-transform: inherit;
  padding: 0 5px;
  margin: 0 5px;
}
.instalaciones-container .instalaciones-content .grid-instalaciones md-grid-list md-grid-tile .ir .md-button md-icon {
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
  margin: 0px;
  color: #fff;
}
.instalaciones-container .instalaciones-content .grid-instalaciones md-grid-list md-grid-tile:hover .capa {
  -webkit-animation: destello 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: destello 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -webkit-transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 500ms ease-in-out;
  transition-delay: 500ms ease-in-out;
  -webkit-transition-delay: infinite ease-in-out;
  transition-delay: infinite ease-in-out;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.instalaciones-container .instalaciones-content .grid-instalaciones md-grid-list md-grid-tile:hover .imagen {
  transform: scale(1.2);
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.instalaciones-container .instalaciones-content .grid-instalaciones md-grid-list md-grid-tile:hover md-grid-tile-footer {
  bottom: 0px;
  opacity: 1;
  padding: 0 10px;
  background-color: rgba(0,0,0,0.2);
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.instalaciones-container .instalaciones-content .grid-instalaciones md-grid-list md-grid-tile:hover .ir .md-button md-icon {
  margin-left: 10px;
}
.portada-instalacion {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.portada-instalacion .titulo h1 {
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 800;
}
@media (max-width: 800px) {
  .portada-instalacion .titulo h1 {
    font-size: 35px;
  }
}
.instalacion-container {
  position: relative;
  min-height: 100vh;
}
.instalacion-container .instalacion-content {
  position: relative;
  margin: 10vh 10vw;
  min-height: 80vh;
  width: 80vw;
}
.instalacion-container .instalacion-content .informacion-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}
@media (max-width: 800px) {
  .instalacion-container .instalacion-content .informacion-container {
    flex-direction: column;
  }
}
.instalacion-container .instalacion-content .informacion-container .parteIzquierda {
  position: relative;
  width: 100%;
}
.instalacion-container .instalacion-content .informacion-container .parteIzquierda .textoIzquierda h1 {
  color: #808080;
  margin: 0;
  font-size: 60px;
  font-weight: 100;
}
@media (max-width: 800px) {
  .instalacion-container .instalacion-content .informacion-container .parteIzquierda .textoIzquierda h1 {
    font-size: 38px;
  }
}
.instalacion-container .instalacion-content .informacion-container .parteIzquierda .textoIzquierda .descripcion {
  width: 55%;
  margin-left: 6vw;
}
@media (max-width: 800px) {
  .instalacion-container .instalacion-content .informacion-container .parteIzquierda .textoIzquierda .descripcion {
    width: 100%;
    margin-left: inherit;
  }
}
.instalacion-container .instalacion-content .informacion-container .parteIzquierda .textoIzquierda .descripcion p {
  font-size: 13px;
  text-align: justify;
}
.instalacion-container .instalacion-content .informacion-container .parteIzquierda .imagenIzquierda {
  height: 72%;
  width: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3vh;
}
@media (max-width: 800px) {
  .instalacion-container .instalacion-content .informacion-container .parteIzquierda .imagenIzquierda {
    height: 50%;
    width: 100%;
  }
}
.instalacion-container .instalacion-content .informacion-container .parteDerecha {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.instalacion-container .instalacion-content .informacion-container .parteDerecha .imagenDerecha {
  height: 72%;
  width: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2vh;
}
@media (max-width: 800px) {
  .instalacion-container .instalacion-content .informacion-container .parteDerecha .imagenDerecha {
    margin-top: 15px;
    height: 50%;
    width: 100%;
  }
}
.instalacion-container .instalacion-content .informacion-container .parteDerecha .textoDerecha {
  width: 90%;
  margin: 20px 0;
}
.instalacion-container .instalacion-content .informacion-container .parteDerecha .textoDerecha h1 {
  font-size: 20px;
  margin: 0;
  color: #808080;
}
.instalacion-container .instalacion-content .informacion-container .parteDerecha .textoDerecha .servicios md-list-item {
  height: 6px;
  min-height: inherit !important;
}
.instalacion-container .instalacion-content .informacion-container .parteDerecha .textoDerecha .servicios md-list-item .md-list-item-text md-icon {
  color: #8e2f2e;
}
.instalacion-container .instalacion-content .informacion-container .parteDerecha .textoDerecha .servicios md-list-item .md-list-item-text p {
  color: #8e2f2e;
  margin: 0;
  font-size: 18px;
  font-weight: 100;
}
.instalacion-container .instalacion-content .informacion-container .parteDerecha .textoDerecha .servicios md-list-item .md-list-item-text:hover {
  border-bottom: 1px solid #8e2f2e;
}
.portada-servicio {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portada-servicio .texto-experiencia h1 {
  color: #fff;
  font-size: 80px;
  font-weight: 100;
  margin: 0;
}
@media (max-width: 800px) {
  .portada-servicio .texto-experiencia h1 {
    font-size: 30px;
  }
}
.portada-servicio .texto-experiencia h4 {
  color: #fff;
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
}
@media (max-width: 800px) {
  .portada-servicio .texto-experiencia h4 {
    font-size: 8px;
  }
}
.portada-servicio .texto-experiencia h4:focus {
  outline: 0px;
}
.servicio-container {
  position: relative;
  min-height: 100vh;
}
.servicio-container .servicio-content {
  position: relative;
  margin: 10vh 10vw;
  min-height: 80vh;
  width: 80vw;
}
.servicio-container .servicio-content .parteSuperior {
  display: flex;
  flex-direction: row;
}
@media (max-width: 800px) {
  .servicio-container .servicio-content .parteSuperior {
    flex-direction: column;
  }
}
.servicio-container .servicio-content .parteSuperior .texto {
  width: 50%;
  text-align: justify;
  padding: 20px;
  margin: 0;
}
@media (max-width: 800px) {
  .servicio-container .servicio-content .parteSuperior .texto {
    width: 100%;
  }
}
.servicio-container .servicio-content .parteSuperior .texto h1 {
  color: #3a512b;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}
@media (max-width: 800px) {
  .servicio-container .servicio-content .parteSuperior .texto h1 {
    font-size: 40px;
  }
}
.servicio-container .servicio-content .parteSuperior .texto .descripcion {
  width: 80%;
}
@media (max-width: 800px) {
  .servicio-container .servicio-content .parteSuperior .texto .descripcion {
    width: 100%;
  }
}
.servicio-container .servicio-content .parteSuperior .texto .descripcion p {
  font-size: 14px;
}
.servicio-container .servicio-content .parteSuperior .imagen {
  width: 50%;
  height: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 800px) {
  .servicio-container .servicio-content .parteSuperior .imagen {
    width: 100%;
    height: 50%;
  }
}
.servicio-container .servicio-content .parteInferior .instructores {
  margin-top: 10vh;
}
.servicio-container .servicio-content .parteInferior .instructores h3 {
  font-size: 24px;
  font-weight: 100;
  margin: 5px;
}
.servicio-container .servicio-content .parteInferior .instructores md-grid-list md-grid-tile {
  cursor: pointer;
  overflow: hidden;
}
.servicio-container .servicio-content .parteInferior .instructores md-grid-list md-grid-tile .capa {
  width: 0%;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
  opacity: 0.9;
  position: absolute;
  z-index: 2;
  transform: skew(-50deg, 0);
  left: -50%;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.servicio-container .servicio-content .parteInferior .instructores md-grid-list md-grid-tile .imagen {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.servicio-container .servicio-content .parteInferior .instructores md-grid-list md-grid-tile .ir {
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 30px;
}
.servicio-container .servicio-content .parteInferior .instructores md-grid-list md-grid-tile .ir .md-button {
  min-height: 0px;
  height: 25px;
  background-color: #3a512b;
  margin: 0px;
  min-width: 0px;
  border-radius: 30px;
  display: flex;
  justify-content: flex-start;
  line-height: 25px;
  color: #fff;
  text-transform: inherit;
  padding: 0 5px;
  margin: 0 5px;
}
.servicio-container .servicio-content .parteInferior .instructores md-grid-list md-grid-tile .ir .md-button md-icon {
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
  margin: 0px;
  color: #fff;
}
.servicio-container .servicio-content .parteInferior .instructores md-grid-list md-grid-tile:hover .capa {
  -webkit-animation: destello 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: destello 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -webkit-transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 500ms ease-in-out;
  transition-delay: 500ms ease-in-out;
  -webkit-transition-delay: infinite ease-in-out;
  transition-delay: infinite ease-in-out;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.servicio-container .servicio-content .parteInferior .instructores md-grid-list md-grid-tile:hover .imagen {
  transform: scale(1.2);
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.servicio-container .servicio-content .parteInferior .instructores md-grid-list md-grid-tile:hover .ir .md-button md-icon {
  margin-left: 10px;
}
.servicios-container {
  position: relative;
  min-height: 100vh;
}
.servicios-container .servicios-content {
  position: relative;
  margin: 10vh 10vw;
  min-height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 800px) {
  .servicios-container .servicios-content {
    flex-direction: column;
  }
}
.servicios-container .servicios-content .texto-container {
  margin-top: 5vw;
}
.servicios-container .servicios-content .texto-container .texto {
  text-align: right;
}
@media (max-width: 800px) {
  .servicios-container .servicios-content .texto-container .texto {
    text-align: inherit !important;
  }
}
.servicios-container .servicios-content .texto-container .texto p {
  margin: 0;
  font-size: 20px;
  margin-left: 4vw;
}
@media (max-width: 800px) {
  .servicios-container .servicios-content .texto-container .texto p {
    font-size: 10px;
  }
}
.servicios-container .servicios-content .texto-container .texto h1 {
  color: #808080;
  font-size: 80px;
  margin: 0;
  font-weight: 100;
}
@media (max-width: 800px) {
  .servicios-container .servicios-content .texto-container .texto h1 {
    font-size: 40px;
  }
}
.servicios-container .servicios-content .texto-container .descripcion p {
  text-align: justify;
  font-size: 13px;
  padding: 20px;
  margin-left: 3vw;
}
@media (max-width: 800px) {
  .servicios-container .servicios-content .texto-container .descripcion p {
    font-size: 10px;
  }
}
.servicios-container .servicios-content .grid-servicios {
  width: 305%;
}
@media (max-width: 800px) {
  .servicios-container .servicios-content .grid-servicios {
    width: 100%;
  }
}
.servicios-container .servicios-content .grid-servicios h1 {
  font-size: 40px;
  color: #3a512b;
}
.servicios-container .servicios-content .grid-servicios md-grid-list md-grid-tile {
  cursor: pointer;
  overflow: hidden;
}
.servicios-container .servicios-content .grid-servicios md-grid-list md-grid-tile:focus {
  outline: 0px;
}
.servicios-container .servicios-content .grid-servicios md-grid-list md-grid-tile>* {
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.servicios-container .servicios-content .grid-servicios md-grid-list md-grid-tile .capa {
  width: 0%;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
  opacity: 0.9;
  position: absolute;
  z-index: 2;
  transform: skew(-50deg, 0);
  left: -50%;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.servicios-container .servicios-content .grid-servicios md-grid-list md-grid-tile .imagen {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.servicios-container .servicios-content .grid-servicios md-grid-list md-grid-tile md-grid-tile-footer {
  bottom: -50px;
  height: 80px;
  background-color: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.servicios-container .servicios-content .grid-servicios md-grid-list md-grid-tile:hover .capa {
  -webkit-animation: destello 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: destello 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -webkit-transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 500ms ease-in-out;
  transition-delay: 500ms ease-in-out;
  -webkit-transition-delay: infinite ease-in-out;
  transition-delay: infinite ease-in-out;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.servicios-container .servicios-content .grid-servicios md-grid-list md-grid-tile:hover .imagen {
  transform: scale(1.2);
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.servicios-container .servicios-content .grid-servicios md-grid-list md-grid-tile:hover md-grid-tile-footer {
  bottom: 0px;
  opacity: 1;
  padding: 0 10px;
  background-color: rgba(0,0,0,0.2);
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.servicios-container .servicios-content .grid-servicios md-grid-list md-grid-tile:hover .ir .md-button md-icon {
  margin-left: 10px;
}
.servicios-container .servicios-content .grid-servicios md-grid-list md-grid-tile .ir {
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 30px;
}
.servicios-container .servicios-content .grid-servicios md-grid-list md-grid-tile .ir .md-button {
  min-height: 0px;
  height: 25px;
  background-color: #3a512b;
  margin: 0px;
  min-width: 0px;
  border-radius: 30px;
  display: flex;
  justify-content: flex-start;
  line-height: 25px;
  color: #fff;
  text-transform: inherit;
  padding: 0 5px;
  margin: 0 5px;
}
.servicios-container .servicios-content .grid-servicios md-grid-list md-grid-tile .ir .md-button md-icon {
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
  margin: 0px;
  color: #fff;
}
.instructores-container {
  position: relative;
  min-height: 100vh;
}
.instructores-container .instructores-content {
  position: relative;
  margin: 10vh 10vw;
  min-height: 80vh;
  width: 80vw;
}
.instructores-container .instructores-content .contenido {
  display: flex;
  flex-direction: row;
  margin-top: 30vh;
  align-items: center;
}
@media (max-width: 800px) {
  .instructores-container .instructores-content .contenido {
    flex-direction: column;
    margin-top: 10vh;
  }
}
.instructores-container .instructores-content .contenido .texto-instructores p {
  font-size: 14px;
}
@media (max-width: 800px) {
  .instructores-container .instructores-content .contenido .texto-instructores p {
    font-size: 10px;
    text-align: center;
  }
}
.instructores-container .instructores-content .contenido .texto-instructores h1 {
  color: #3a512b;
  font-size: 60px;
  font-weight: 100;
  margin: 0;
}
@media (max-width: 800px) {
  .instructores-container .instructores-content .contenido .texto-instructores h1 {
    font-size: 30px;
    text-align: center;
  }
}
.instructores-container .instructores-content .contenido .texto-instructores .instructor-detalle {
  width: 100%;
}
.instructores-container .instructores-content .contenido .texto-instructores .instructor-detalle h3 {
  font-size: 16px;
  color: #808080;
  margin: 20px 65px;
}
@media (max-width: 800px) {
  .instructores-container .instructores-content .contenido .texto-instructores .instructor-detalle h3 {
    text-align: center;
  }
}
.instructores-container .instructores-content .contenido .texto-instructores .instructor-detalle .descripcion {
  text-align: justify;
  color: #696969;
}
@media (max-width: 800px) {
  .instructores-container .instructores-content .contenido .texto-instructores .instructor-detalle .descripcion p {
    font-size: 10px;
  }
}
.instructores-container .instructores-content .contenido .imagenes-instructores {
  margin-left: 10%;
  width: 380%;
}
@media (max-width: 800px) {
  .instructores-container .instructores-content .contenido .imagenes-instructores {
    width: 100%;
  }
}
.instructores-container .instructores-content .contenido .imagenes-instructores md-grid-list md-grid-tile {
  cursor: pointer;
  overflow: hidden;
}
.instructores-container .instructores-content .contenido .imagenes-instructores md-grid-list md-grid-tile:focus {
  outline: 0px;
}
.instructores-container .instructores-content .contenido .imagenes-instructores md-grid-list md-grid-tile .capa {
  width: 0%;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
  opacity: 0.9;
  position: absolute;
  z-index: 2;
  transform: skew(-50deg, 0);
  left: -50%;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.instructores-container .instructores-content .contenido .imagenes-instructores md-grid-list md-grid-tile .imagen {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.instructores-container .instructores-content .contenido .imagenes-instructores md-grid-list md-grid-tile md-grid-tile-footer {
  bottom: -50px;
  height: 80px;
  background-color: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.instructores-container .instructores-content .contenido .imagenes-instructores md-grid-list md-grid-tile:hover .capa {
  -webkit-animation: destello 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: destello 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -webkit-transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 500ms ease-in-out;
  transition-delay: 500ms ease-in-out;
  -webkit-transition-delay: infinite ease-in-out;
  transition-delay: infinite ease-in-out;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.instructores-container .instructores-content .contenido .imagenes-instructores md-grid-list md-grid-tile:hover .imagen {
  transform: scale(1.2);
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.instructores-container .instructores-content .contenido .imagenes-instructores md-grid-list md-grid-tile:hover md-grid-tile-footer {
  bottom: 0px;
  opacity: 1;
  padding: 0 10px;
  background-color: rgba(0,0,0,0.2);
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.salones-container {
  position: relative;
  min-height: 100vh;
}
.salones-container .salones-content {
  position: relative;
  margin: 10vh 10vw;
  min-height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
}
@media (max-width: 800px) {
  .salones-container .salones-content {
    flex-direction: column;
  }
}
.salones-container .salones-content .texto-container {
  margin-top: 5vw;
}
.salones-container .salones-content .texto-container .texto {
  text-align: left;
}
.salones-container .salones-content .texto-container .texto p {
  margin: 0;
  font-size: 15px;
  margin-left: 4vw;
}
@media (max-width: 800px) {
  .salones-container .salones-content .texto-container .texto p {
    font-size: 10px;
  }
}
.salones-container .salones-content .texto-container .texto h1 {
  color: #808080;
  font-size: 60px;
  font-weight: 100;
  margin: 0;
}
@media (max-width: 800px) {
  .salones-container .salones-content .texto-container .texto h1 {
    font-size: 30px;
  }
}
.salones-container .salones-content .texto-container .descripcion {
  width: 70%;
}
@media (max-width: 800px) {
  .salones-container .salones-content .texto-container .descripcion {
    width: 100%;
  }
}
.salones-container .salones-content .texto-container .descripcion p {
  text-align: justify;
  font-size: 12px;
  padding: 20px;
  margin-left: 3vw;
}
@media (max-width: 800px) {
  .salones-container .salones-content .texto-container .descripcion p {
    font-size: 10px;
  }
}
.salones-container .salones-content .grid-salones {
  width: 190%;
}
@media (max-width: 800px) {
  .salones-container .salones-content .grid-salones {
    width: 100%;
  }
}
.salones-container .salones-content .grid-salones h1 {
  font-size: 40px;
  color: #3a512b;
}
@media (max-width: 800px) {
  .salones-container .salones-content .grid-salones h1 {
    font-size: 30px;
  }
}
.salones-container .salones-content .grid-salones md-grid-list md-grid-tile {
  cursor: pointer;
  overflow: hidden;
}
.salones-container .salones-content .grid-salones md-grid-list md-grid-tile:focus {
  outline: 0px;
}
.salones-container .salones-content .grid-salones md-grid-list md-grid-tile .capa {
  width: 0%;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
  opacity: 0.9;
  position: absolute;
  z-index: 2;
  transform: skew(-50deg, 0);
  left: -50%;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.salones-container .salones-content .grid-salones md-grid-list md-grid-tile .imagen {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.salones-container .salones-content .grid-salones md-grid-list md-grid-tile md-grid-tile-footer {
  bottom: -50px;
  height: 80px;
  background-color: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.salones-container .salones-content .grid-salones md-grid-list md-grid-tile md-grid-tile-footer p {
  font-size: 13px;
}
.salones-container .salones-content .grid-salones md-grid-list md-grid-tile .ir {
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 30px;
}
.salones-container .salones-content .grid-salones md-grid-list md-grid-tile .ir .md-button {
  min-height: 0px;
  height: 25px;
  background-color: #3a512b;
  margin: 0px;
  min-width: 0px;
  border-radius: 30px;
  display: flex;
  justify-content: flex-start;
  line-height: 25px;
  color: #fff;
  text-transform: inherit;
  padding: 0 5px;
  margin: 0 5px;
}
.salones-container .salones-content .grid-salones md-grid-list md-grid-tile .ir .md-button md-icon {
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
  margin: 0px;
  color: #fff;
}
.salones-container .salones-content .grid-salones md-grid-list md-grid-tile:hover .capa {
  -webkit-animation: destello 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: destello 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -webkit-transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 500ms ease-in-out;
  transition-delay: 500ms ease-in-out;
  -webkit-transition-delay: infinite ease-in-out;
  transition-delay: infinite ease-in-out;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.salones-container .salones-content .grid-salones md-grid-list md-grid-tile:hover .imagen {
  transform: scale(1.2);
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.salones-container .salones-content .grid-salones md-grid-list md-grid-tile:hover md-grid-tile-footer {
  bottom: 0px;
  opacity: 1;
  padding: 0 10px;
  background-color: rgba(0,0,0,0.2);
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.salones-container .salones-content .grid-salones md-grid-list md-grid-tile:hover .ir .md-button md-icon {
  margin-left: 10px;
}
.portada-salon {
  height: 50vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 800px) {
  .portada-salon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
.portada-salon .texto-experiencia {
  position: absolute;
  top: 13vh;
  left: 6vw;
  right: 0;
  bottom: 0;
  width: 52vw;
}
@media (max-width: 800px) {
  .portada-salon .texto-experiencia {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: inherit !important;
  }
}
.portada-salon .texto-experiencia p {
  color: #fff;
  font-size: 12px;
}
@media (max-width: 800px) {
  .portada-salon .texto-experiencia p {
    font-size: 19px;
  }
}
.portada-salon .texto-experiencia h1 {
  color: #fff;
  font-size: 80px;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  .portada-salon .texto-experiencia h1 {
    font-size: 60px;
  }
}
.portada-salon .texto-experiencia .descripcion {
  text-align: justify;
  color: #fff;
  font-size: 12px;
  width: 32vw;
  margin-left: 7vw;
}
@media (max-width: 800px) {
  .portada-salon .texto-experiencia .descripcion {
    display: none;
  }
}
.salon-container {
  position: relative;
  min-height: 100vh;
}
.salon-container .salon-content {
  position: relative;
  margin: 10vh 10vw;
  min-height: 80vh;
  width: 80vw;
}
.contacto-container {
  position: relative;
  min-height: 100vh;
}
.contacto-container .contacto-content {
  position: relative;
  margin: 10vh 10vw;
  min-height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contacto-container .contacto-content .tituloContacto h1 {
  font-size: 43px;
  text-align: center;
  color: #3a512b;
}
.contacto-container .contacto-content .formulario-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacto-container .contacto-content .formulario-container .formulario {
  display: flex;
  flex-direction: column;
  width: 45vh;
}
.contacto-container .contacto-content .formulario-container .formulario md-input-container {
  margin: 0;
}
.contacto-container .contacto-content .formulario-container .formulario md-input-container label {
  color: #3a512b;
}
.contacto-container .contacto-content .formulario-container .formulario md-input-container input {
  border-bottom-color: #3a512b;
}
.contacto-container .contacto-content .formulario-container .formulario md-input-container textarea {
  border-bottom-color: #3a512b;
}
.contacto-container .contacto-content .formulario-container .formulario .md-button {
  margin: 0 auto;
  background-color: #8e2e2e;
}
.contacto-container .contacto-content .formulario-container .formulario .md-button span {
  color: #fff;
  font-size: 17px;
}
.contacto-container .contacto-content .entregado h1 {
  text-align: center;
  font-size: 40px;
  color: #3a512b;
}
.historia-container {
  position: relative;
  min-height: 100vh;
}
.historia-container .historia-content {
  position: relative;
  margin: 10vh 10vw;
  min-height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
}
.historia-container .historia-content .parteSuperior {
  display: flex;
  flex-direction: row;
}
@media (max-width: 800px) {
  .historia-container .historia-content .parteSuperior {
    flex-direction: column;
  }
}
.historia-container .historia-content .parteSuperior .texto-container {
  Width: 40%;
}
@media (max-width: 800px) {
  .historia-container .historia-content .parteSuperior .texto-container {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .historia-container .historia-content .parteSuperior .texto-container .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.historia-container .historia-content .parteSuperior .texto-container .texto p {
  margin: 0;
  font-size: 1vw;
  margin-left: 4vw;
}
@media (max-width: 800px) {
  .historia-container .historia-content .parteSuperior .texto-container .texto p {
    font-size: 15px;
  }
}
.historia-container .historia-content .parteSuperior .texto-container .texto h1 {
  color: #808080;
  font-size: 3vw;
  margin: 0;
}
@media (max-width: 800px) {
  .historia-container .historia-content .parteSuperior .texto-container .texto h1 {
    font-size: 25px;
  }
}
.historia-container .historia-content .parteSuperior .texto-container .descripcion p {
  text-align: justify;
  font-size: 1vw;
  padding: 20px;
  width: 75%;
}
@media (max-width: 800px) {
  .historia-container .historia-content .parteSuperior .texto-container .descripcion p {
    width: 100%;
    font-size: 12px;
  }
}
.historia-container .historia-content .parteSuperior .imagen-container {
  min-width: 60%;
  height: 65%;
}
.historia-container .historia-content .parteSuperior .imagen-container .imagen {
  Width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.noticias-container {
  position: relative;
  min-height: 100vh;
}
.noticias-container .noticias-content {
  position: relative;
  margin: 10vh 10vw;
  min-height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.noticias-container .noticias-content .titulo {
  text-transform: uppercase;
  margin-bottom: 60px;
  margin: 0;
}
.noticias-container .noticias-content .titulo h1 {
  font-size: 35px;
  font-weight: 800;
  color: #3a512b;
}
.noticias-container .noticias-content .noticias {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #3a512b;
  margin-top: 2vh;
  justify-content: center;
}
.noticias-container .noticias-content .noticias .contenedor {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.noticias-container .noticias-content .noticias .contenedor .nombre-noticia h1 {
  font-size: 22px;
  font-weight: 400;
}
.noticias-container .noticias-content .noticias .contenedor .resena {
  width: 80%;
  text-align: justify;
}
.noticias-container .noticias-content .noticias .contenedor .resena p {
  font-size: 14px;
}
.noticias-container .noticias-content .noticias .noticia-portada {
  Width: 30%;
  height: 25%;
  margin-bottom: 10px;
}
.noticias-container .noticias-content .noticias .noticia-portada img {
  width: 100%;
  height: 100%;
}
@-moz-keyframes destello {
  0% {
    width: 0%;
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  90% {
    width: 200%;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}
@-webkit-keyframes destello {
  0% {
    width: 0%;
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  90% {
    width: 200%;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}
@-o-keyframes destello {
  0% {
    width: 0%;
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  90% {
    width: 200%;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}
@keyframes destello {
  0% {
    width: 0%;
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  90% {
    width: 200%;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}
