mobile = "(max-width: 800px)"
verde = #3a512b
footerColor = #8e2e2e
rojo = #8e2f2e

transition(duracion, delay)
	-webkit-transition all duracion cubic-bezier(0.445, 0.050, 0.550, 0.950)
	transition all duracion cubic-bezier(0.445, 0.050, 0.550, 0.950)
	-webkit-transition-delay delay ease-in-out
	transition-delay delay ease-in-out

animation(animation, duration = 1s, delay = 0s)
	-webkit-animation animation duration cubic-bezier(0.445, 0.050, 0.550, 0.950)
	animation animation duration cubic-bezier(0.445, 0.050, 0.550, 0.950)
	-webkit-transition all duration ease-in-out
	-moz-transition all duration ease-in-out
	-o-transition all duration ease-in-out
	transition all duration ease-in-out
	-webkit-transition-delay delay ease-in-out
	transition-delay delay ease-in-out

@keyframes destello
	0%
		width 0%
		opacity 1
	60%
		opacity 1
	90%
		width 200%

	100%
		width 0%
		opacity 0

*
	box-sizing border-box
	font-family Cabin


md-grid-list
	md-grid-tile
		background-repeat no-repeat
		background-size cover
		background-position center

main
	position relative
	min-height 100vh
	width 100%

md-sidenav
	overflow-x hidden
	justify-content center
	align-items center
	background-position center
	background-repeat no-repeat
	background-size cover
	.cortina
		width 100%
		height 100%
		background-color verde
		opacity 0.9
		position absolute
	.cerrar
		@media mobile
			display none
		width 100%
		z-index 1
		&:focus
			outline 0px
		p
			color white
			cursor pointer
			font-size 30px
			display flex
			flex-direction row-reverse
			margin 0
			margin-right 10vw

	.lineas
		@media mobile
			display none
		position absolute
		top 0px
		margin 0px
		width 100%
		height 100%
		display flex
		flex-direction row
		.linea
			&:first-child
				border-left 1px solid rgba(255, 255, 255, .4)
			border-right 1px solid rgba(255, 255, 255, .4)
			width 100%
			transform skew(-40deg, 0)
	md-list
		md-list-item
		.md-list-item-inner
			display flex
			justify-content center
			h4
				@media mobile
					font-size 19px
					margin 7px
				font-size 35px
				font-weight 100
				text-transform uppercase
				color white
				text-align center
				margin 15px
	.direcciones
		display flex
		flex-direction column
		justify-content center
		align-items center
		z-index 1
		.redes
			margin-bottom 10px
			img
				height 26px
				width 26px
				margin-right 8px
		p
			color white
			font-size 15px
			margin 0
			@media mobile
				font-size 13px





.nav
	height 40px
	position fixed
	z-index 10
	width 100%
	background-color verde
	.nav-content
		height 40px
		display flex
		flex-direction row
		justify-content space-between
		.logo
			width 124px
			cursor pointer
			&:focus
				outline 0px
		div
			display flex
			justify-content center
			align-items center
		.conoceMas
			@media mobile
				display none
			.md-button
				margin 0 15px
				min-height 30px
				line-height 30px
				height 30px
				padding 0 5px
		.navegacion
			@media mobile
				display none
			.md-button:first-child
				border-right 1px solid rgba(255, 255, 255, .3)
		h3
			color white
			&:focus
				outline 0px
			cursor pointer
			font-size 1vw
		p, span
			color white
			font-size 12px
		.md-button .menu
			height 40px
			margin 0px
			border-radius 0px
			line-height 40px


.menu-home
	md-sidenav
		display flex
		position fixed
		max-width inherit
		width 100%

footer
	background-color footerColor
	.footer
		@media mobile
			flex-direction column
			justify-content center
			align-items center
		display flex
		flex-direction row
		justify-content space-between
		align-items center
		.md-button
			@media mobile
				width 38%
			width 10%
			img
				width 100%
		.secciones-container
			@media mobile
				display none
			display flex
			cursor pointer
			width 13%
			justify-content space-between
			.seccion-uno, .seccion-dos
				height 10%
				display flex
				justify-content center
				h4
					margin 2px
					color white
					font-size 12px
					&:focus
						outline 0px
		.contactoFooter, .textoFooter
			p
				margin 2
				color white
				font-size 12px
				@media mobile
					text-align center
		.textoFooter
			@media mobile
				display none
		.contactoFooter
			margin-right 400px
			.iconos
				@media mobile
					justify-content center
					align-items center
				display flex
				flex-direction row
				img
					height 14px
					width 14px
					margin-right 5px
			@media mobile
				margin-right inherit
				display flex
				flex-direction column
				justify-content center
				align-content center
				margin-bottom 15px
.home-container
	position relative
	min-height 100vh
	display flex
	justify-content center
	.home-content
		position relative
		min-height 80vh
		width 90vw
		section
			&.grid-container
				margin-top 10%
				min-height 100vh
				position relative
				margin-bottom 20vh
				md-grid-list
					transform scale(.9) !important
					md-grid-tile
						cursor pointer
						.contenido
							position relative
							width 100%
							height 100%
							overflow hidden
							&>*
								transition(500ms , 0)
							.capa
								width 0%
								height 100%
								background-color rgba(255, 255, 255, .4)
								opacity .9
								position absolute
								z-index 2
								transform skew(-50deg, 0)
								left -50%
							.imagen
								background-repeat no-repeat
								background-size cover
								background-position center

							md-grid-tile-footer
								bottom -50px
								height 80px
								background-color inherit
								display flex
								justify-content flex-start
								align-items flex-start
								opacity 0
								p
									font-weight 800
							.ir
								position absolute
								bottom 1px
								width 100%
								height 30px
								.md-button
									min-height 0px
									height 25px
									background-color verde
									margin 0px
									min-width 0px
									border-radius 30px
									display flex
									justify-content flex-start
									line-height 25px
									color white
									text-transform inherit
									padding 0 5px
									margin 0 5px

									md-icon
										transition(500ms , 0)
										margin 0px
										color white

						&:hover
							.capa
								animation destello 500ms infinite;
							.imagen
								transform scale(1.2)
							md-grid-tile-footer
								bottom 0px
								opacity 1
								padding 0 10px
								background-color rgba(0, 0, 0, .2)



							.ir
								.md-button
									md-icon
										margin-left 10px

			&.club
				min-height 100vh
				@media mobile
					flex-direction column

				display flex
				flex-direction row
				.texto
					@media mobile
						max-width 100%
						max-height 40%
					h1
						@media mobile
							font-size 40px
						color gray
						font-size 80px
						margin 0
						font-weight 100
					p
						@media mobile
							font-size 10px
						font-size 20px
						margin 0
						margin-left 5vw
					.texto-descripcion
						@media mobile
							width 100%
						width 70%
						p
							font-size 16px
							text-align justify
							padding 10px

				.slider-content
					width 100%
					.slider
						
						.slick-list
							height inherit
						.slide
							height inherit
							display flex
							justify-content center
							align-items center
							.imagen
								width 100%
								height 400px
								background-size cover
								background-repeat no-repeat
								background-position center
								p
									color white
									font-size 24px

			&.ambiente
				md-grid-list
					transform scale(0.9) !important
				min-height 100vh
				.texto
					h1
						@media mobile
							font-size 40px
						color gray
						font-size 80px
						margin 0
						font-weight 100

					p
						@media mobile
							font-size 10px
						font-size 20px
						margin 0
						margin-left 5vw
				md-grid-list
				transform scale(.9) !important
				.datos
					h1
						@media mobile
							font-size 23px
						color white
						text-align center
						margin 0
						font-size 30px
					p
						@media mobile
							font-size 10px
						color white
						margin 0
						padding 10px
						text-align justify
						font-size 14px


.instalaciones-container
	position relative
	min-height 100vh
	.instalaciones-content
		position relative
		margin 10vh 10vw
		min-height 80vh
		width 80vw
		display flex
		flex-direction row
		@media mobile
			flex-direction column
		.texto-container
			margin-top 5vw
			.texto
				p
					@media mobile
						font-size 13px
					margin 0
					font-size 20px
					margin-left 4vw
				h1
					@media mobile
						font-size 45px
					color grey
					font-size 60px
					margin 0
					font-weight 100
			.descripcion
				p
					text-align justify
					font-size 13px
					padding 20px
					margin-left 3vw
		.grid-instalaciones
			@media mobile
				width 100% !important
			width 305%
			md-grid-list
				md-grid-tile
					cursor pointer
					overflow hidden
					&:focus
						outline 0px
					.capa
						width 0%
						height 100%
						background-color rgba(255, 255, 255, .4)
						opacity .9
						position absolute
						z-index 2
						transform skew(-50deg, 0)
						left -50%
						transition(500ms , 0)
					.imagen
						background-repeat no-repeat
						background-size cover
						background-position center
						transition(500ms , 0)
					md-grid-tile-footer
						bottom -50px
						height 80px
						background-color inherit
						display flex
						justify-content flex-start
						align-items flex-start
						opacity 0
						transition(500ms , 0)
						p
							font-size 13px
					.ir
						position absolute
						bottom 1px
						width 100%
						height 30px
						.md-button
							min-height 0px
							height 25px
							background-color verde
							margin 0px
							min-width 0px
							border-radius 30px
							display flex
							justify-content flex-start
							line-height 25px
							color white
							text-transform inherit
							padding 0 5px
							margin 0 5px

							md-icon
								transition(500ms , 0)
								margin 0px
								color white
					&:hover
						.capa
							animation destello 500ms infinite;
							transition(500ms , 0)
						.imagen
							transform scale(1.2)
							transition(500ms , 0)
						md-grid-tile-footer
							bottom 0px
							opacity 1
							padding 0 10px
							background-color rgba(0, 0, 0, .2)
							transition(500ms , 0)
						.ir
							.md-button
								md-icon
									margin-left 10px


.portada-instalacion
	background-position center
	background-repeat no-repeat
	background-size cover
	display flex
	justify-content center
	align-items center
	width 100%
	height 50%
	.titulo
		h1
			@media mobile
				font-size 35px
			color white
			font-size 50px
			text-transform uppercase
			font-weight 800
.instalacion-container
	position relative
	min-height 100vh
	.instalacion-content
		position relative
		margin 10vh 10vw
		min-height 80vh
		width 80vw
		.informacion-container
			@media mobile
				flex-direction column
			position relative
			display flex
			flex-direction row
			justify-content center
			align-items center
			margin-top 3vh
			.parteIzquierda
				position relative
				width 100%
				.textoIzquierda
					h1
						@media mobile
							font-size 38px
						color grey
						margin 0
						font-size 60px
						font-weight 100
					.descripcion
						@media mobile
							width 100%
							margin-left inherit
						width 55%
						margin-left 6vw
						p
							font-size 13px
							text-align justify
				.imagenIzquierda
					@media mobile
						height 50%
						width 100%
					height 72%
					width 80%
					background-position center
					background-repeat no-repeat
					background-size cover
					margin-top 3vh
			.parteDerecha
				width 100%
				position relative
				display flex
				flex-direction column
				align-items flex-end
				.imagenDerecha
					@media mobile
						margin-top 15px
						height 50%
						width 100%
					height 72%
					width 80%
					background-position center
					background-repeat no-repeat
					background-size cover
					margin-bottom 2vh
				.textoDerecha
					width 90%
					margin 20px 0
					h1
						font-size 20px
						margin 0
						color grey
					.servicios
						md-list-item
							height 6px
							min-height inherit !important
							.md-list-item-text
								md-icon
									color rojo
								p
									color rojo
									margin 0
									font-size 18px
									font-weight 100
								&:hover
									border-bottom 1px solid #8e2f2e
.portada-servicio
	height 100%
	width 100%
	background-position center
	background-repeat no-repeat
	background-size cover
	display flex
	justify-content center
	align-items center
	.texto-experiencia
		h1
			@media mobile
				font-size 30px
			color white
			font-size 80px
			font-weight 100
			margin 0
		h4
			@media mobile
				font-size 8px
			color white
			margin 0
			text-align center
			font-size 16px
			font-weight 100
			&:focus
				outline 0px
.servicio-container
	position relative
	min-height 100vh
	.servicio-content
		position relative
		margin 10vh 10vw
		min-height 80vh
		width 80vw

		.parteSuperior
			display flex
			flex-direction row
			@media mobile
				flex-direction column
			.texto
				@media mobile
					width 100%
				width 50%
				text-align justify
				padding 20px
				margin 0
				h1
					@media mobile
						font-size 40px
					color verde
					font-size 80px
					text-transform uppercase
					font-weight 400
					margin 0
				.descripcion
					@media mobile
						width 100%
					width 80%
					p
						font-size 14px
			.imagen
				@media mobile
					width 100%
					height 50%
				width 50%
				height 70%
				background-repeat  no-repeat
				background-position center
				background-size cover
		.parteInferior
			.instructores
				margin-top 10vh
				h3
					font-size 24px
					font-weight 100
					margin 5px
				md-grid-list
					md-grid-tile
						cursor pointer
						overflow hidden
						.capa
							width 0%
							height 100%
							background-color rgba(255, 255, 255, .4)
							opacity .9
							position absolute
							z-index 2
							transform skew(-50deg, 0)
							left -50%
							transition(500ms , 0)
						.imagen
							width 100%
							height 100%
							background-repeat no-repeat
							background-size cover
							background-position center
							transition(500ms , 0)
						.ir
							position absolute
							bottom 1px
							width 100%
							height 30px
							.md-button
								min-height 0px
								height 25px
								background-color verde
								margin 0px
								min-width 0px
								border-radius 30px
								display flex
								justify-content flex-start
								line-height 25px
								color white
								text-transform inherit
								padding 0 5px
								margin 0 5px

								md-icon
									transition(500ms , 0)
									margin 0px
									color white
						&:hover
							.capa
								animation destello 500ms infinite;
								transition(500ms , 0)
							.imagen
								transform scale(1.2)
								transition(500ms , 0)
							.ir
								.md-button
									md-icon
										margin-left 10px


.servicios-container
	position relative
	min-height 100vh
	.servicios-content
		position relative
		margin 10vh 10vw
		min-height 80vh
		width 80vw
		display flex
		flex-direction row-reverse
		@media mobile
			flex-direction column
		.texto-container
			margin-top 5vw
			.texto
				@media mobile
					text-align inherit !important
				text-align right
				p
					@media mobile
						font-size 10px
					margin 0
					font-size 20px
					margin-left 4vw
				h1
					@media mobile
						font-size 40px
					color grey
					font-size 80px
					margin 0
					font-weight 100
			.descripcion
				p
					@media mobile
						font-size 10px
					text-align justify
					font-size 13px
					padding 20px
					margin-left 3vw
		.grid-servicios
			@media mobile
				width 100%
			h1
				font-size 40px
				color verde
			width 305%
			md-grid-list
				md-grid-tile
					cursor pointer
					overflow hidden
					&:focus
						outline 0px
					&>*
						transition(500ms , 0)
					.capa
						width 0%
						height 100%
						background-color rgba(255, 255, 255, .4)
						opacity .9
						position absolute
						z-index 2
						transform skew(-50deg, 0)
						left -50%
						transition(500ms , 0)
					.imagen
						background-repeat no-repeat
						background-size cover
						background-position center
						transition(500ms , 0)
					md-grid-tile-footer
						bottom -50px
						height 80px
						background-color inherit
						display flex
						justify-content flex-start
						align-items flex-start
						opacity 0
						transition(500ms , 0)
					&:hover
						.capa
							animation destello 500ms infinite;
							transition(500ms , 0)
						.imagen
							transform scale(1.2)
							transition(500ms , 0)
						md-grid-tile-footer
							bottom 0px
							opacity 1
							padding 0 10px
							background-color rgba(0, 0, 0, .2)
							transition(500ms , 0)
						.ir
							.md-button
								md-icon
									margin-left 10px


					.ir
						position absolute
						bottom 1px
						width 100%
						height 30px
						.md-button
							min-height 0px
							height 25px
							background-color verde
							margin 0px
							min-width 0px
							border-radius 30px
							display flex
							justify-content flex-start
							line-height 25px
							color white
							text-transform inherit
							padding 0 5px
							margin 0 5px

							md-icon
								transition(500ms , 0)
								margin 0px
								color white
.instructores-container
	position relative
	min-height 100vh
	.instructores-content
		position relative
		margin 10vh 10vw
		min-height 80vh
		width 80vw
		.contenido
			@media mobile
				flex-direction column
				margin-top 10vh
			display flex
			flex-direction row
			margin-top 30vh
			align-items center
			.texto-instructores
				p
					@media mobile
						font-size 10px
						text-align center
					font-size 14px
				h1
					@media mobile
						font-size 30px
						text-align center
					color verde
					font-size 60px
					font-weight 100
					margin 0
				.instructor-detalle
					width 100%
					h3
						@media mobile
							text-align center
						font-size 16px
						color gray
						margin 20px 65px
					.descripcion
						text-align justify
						color dimgrey
						p
							@media mobile
								font-size 10px
			.imagenes-instructores
				@media mobile
					width 100%
				margin-left 10%
				width 380%
				md-grid-list
					md-grid-tile
						cursor pointer
						overflow hidden
						&:focus
							outline 0px
						.capa
							width 0%
							height 100%
							background-color rgba(255, 255, 255, .4)
							opacity .9
							position absolute
							z-index 2
							transform skew(-50deg, 0)
							left -50%
							transition(500ms , 0)
						.imagen
							background-repeat no-repeat
							background-size cover
							background-position center
							transition(500ms , 0)
						md-grid-tile-footer
							bottom -50px
							height 80px
							background-color inherit
							display flex
							justify-content flex-start
							align-items flex-start
							opacity 0
							transition(500ms , 0)
						&:hover
							.capa
								animation destello 500ms infinite;
								transition(500ms , 0)
							.imagen
								transform scale(1.2)
								transition(500ms , 0)
							md-grid-tile-footer
								bottom 0px
								opacity 1
								padding 0 10px
								background-color rgba(0, 0, 0, .2)
								transition(500ms , 0)

.salones-container
	position relative
	min-height 100vh
	.salones-content
		position relative
		margin 10vh 10vw
		min-height 80vh
		width 80vw
		display flex
		flex-direction row
		@media mobile
			flex-direction column
		.texto-container
			margin-top 5vw
			.texto
				text-align left
				p
					@media mobile
						font-size 10px
					margin 0
					font-size 15px
					margin-left 4vw
				h1
					@media mobile
						font-size 30px
					color grey
					font-size 60px
					font-weight 100
					margin 0
			.descripcion
				@media mobile
					width 100%
				width 70%
				p
					@media mobile
						font-size 10px
					text-align justify
					font-size 12px
					padding 20px
					margin-left 3vw
		.grid-salones
			@media mobile
				width 100%
			h1
				@media mobile
					font-size 30px
				font-size 40px
				color verde
			width 190%
			md-grid-list
				md-grid-tile
					cursor pointer
					overflow hidden
					&:focus
						outline 0px
					.capa
						width 0%
						height 100%
						background-color rgba(255, 255, 255, .4)
						opacity .9
						position absolute
						z-index 2
						transform skew(-50deg, 0)
						left -50%
						transition(500ms , 0)
					.imagen
						background-repeat no-repeat
						background-size cover
						background-position center
						transition(500ms , 0)
					md-grid-tile-footer
						bottom -50px
						height 80px
						background-color inherit
						display flex
						justify-content flex-start
						align-items flex-start
						opacity 0
						transition(500ms , 0)
						p
							font-size 13px
					.ir
						position absolute
						bottom 1px
						width 100%
						height 30px
						.md-button
							min-height 0px
							height 25px
							background-color verde
							margin 0px
							min-width 0px
							border-radius 30px
							display flex
							justify-content flex-start
							line-height 25px
							color white
							text-transform inherit
							padding 0 5px
							margin 0 5px

							md-icon
								transition(500ms , 0)
								margin 0px
								color white
					&:hover
						.capa
							animation destello 500ms infinite;
							transition(500ms , 0)
						.imagen
							transform scale(1.2)
							transition(500ms , 0)
						md-grid-tile-footer
							bottom 0px
							opacity 1
							padding 0 10px
							background-color rgba(0, 0, 0, .2)
							transition(500ms , 0)
						.ir
							.md-button
								md-icon
									margin-left 10px

.portada-salon
	height 50vh
	width 100vw
	background-repeat  no-repeat
	background-position center
	background-size cover
	@media mobile
		display flex
		justify-content center
		flex-direction column
		align-items center
	.texto-experiencia
		 @media mobile
			display flex
			justify-content center
			flex-direction column
			align-items center
			position inherit !important
		position absolute
		top 13vh
		left 6vw
		right 0
		bottom 0
		width 52vw
		p
			@media mobile
				font-size 19px
			color white
			font-size 12px
		h1
			@media mobile
				font-size 60px
			color white
			font-size 80px
			margin 0
			font-weight 400
			text-transform uppercase
		.descripcion
			@media mobile
				display none
			text-align justify
			color white
			font-size 12px
			width 32vw
			margin-left 7vw
.salon-container
	position relative
	min-height 100vh
	.salon-content
		position relative
		margin 10vh 10vw
		min-height 80vh
		width 80vw

.contacto-container
	position relative
	min-height 100vh
	.contacto-content
		position relative
		margin 10vh 10vw
		min-height 80vh
		width 80vw
		display flex
		justify-content center
		align-items center
		flex-direction column
		.tituloContacto
			h1
				font-size 43px
				text-align center
				color verde
		.formulario-container
			display flex
			justify-content center
			align-items center
			.formulario
				display flex
				flex-direction column
				width 45vh
				md-input-container
					margin 0
					label
						color verde
					input
						border-bottom-color verde
					textarea
						border-bottom-color verde
				.md-button
					margin 0 auto
					background-color footerColor
					span
						color white
						font-size 17px
		.entregado
			h1
				text-align center
				font-size 40px
				color verde
.historia-container
	position relative
	min-height 100vh
	.historia-content
		position relative
		margin 10vh 10vw
		min-height 80vh
		width 80vw
		display flex
		flex-direction column
		.parteSuperior
			display flex
			flex-direction row
			@media mobile
				flex-direction column
			.texto-container
				@media mobile
					width 100%
				Width 40%
				.texto
					@media mobile
						display flex
						flex-direction column
						justify-content center
						align-items center
					p
						@media mobile
							font-size 15px
						margin 0
						font-size 1vw
						margin-left 4vw
					h1
						@media mobile
							font-size 25px
						color grey
						font-size 3vw
						margin 0
				.descripcion
					p
						@media mobile
							width 100%
							 font-size 12px
						text-align justify
						font-size 1vw
						padding 20px
						width 75%
			.imagen-container
				min-width 60%
				height 65%
				.imagen
					Width 100%
					height 100%
					background-position center
					background-repeat no-repeat
					background-size cover
.noticias-container
	position relative
	min-height 100vh
	.noticias-content
		position relative
		margin 10vh 10vw
		min-height 80vh
		width 80vw
		display flex
		flex-direction column
		justify-content center
		align-items center
		.titulo
			text-transform uppercase
			margin-bottom 60px
			margin 0

			h1
				@media mobile
					font-size 20px
				font-size 35px
				font-weight 800
				color verde

		.noticias
			@media mobile
				flex-direction column
			display flex
			flex-direction row
			border-bottom 1px solid verde
			margin-top 2vh
			justify-content center
			.contenedor
				@media mobile
					width 100%
				display flex
				flex-direction column
				width 50%
				.nombre-noticia
					h1
						@media mobile
							font-size 15px
						font-size 22px
						font-weight 400
				.resena
					@media mobile
						width 100%
					width 80%
					text-align justify
					p
						@media mobile
							font-size 11px
						font-size 14px
				.mandar
					bottom 1px
					width 100%
					height 30px
					.md-button
						min-height 0px
						height 25px
						background-color verde
						margin 0px
						min-width 0px
						border-radius 30px
						display flex
						justify-content flex-start
						line-height 25px
						color white
						text-transform inherit
						padding 0 5px
						margin 0 5px

						md-icon
							transition(500ms , 0)
							margin 0px
							color white
				&:hover
					.mandar
						.md-button
							md-icon
								margin-left 10px

			.noticia-portada
				@media mobile
					width 100%
				Width 30%
				height 25%
				margin-bottom 10px
				img
					width 100%
					height 100%
.noticia-container
	position relative
	min-height 100vh
	.noticia-content
		position relative
		margin 10vh 10vw
		min-height 80vh
		width 80vw
		display flex
		flex-direction column
		justify-content center
		align-items center
		.titulo
			h1
				font-size 35px
				font-weight 800
				color verde
		.resena
			width 80%
			text-align justify
			p
				font-size 16px
		.imagen-portada
			width 50%
			height 50%
			img
				width 100%
				height 100%
		.contenedor
			position relative
			.descripcion
			.imagen-arriba
				width 35%
				height 37%
				img
					width 100%
					height 100%
			.imagen-abajo
				width 35%
				height 37%
				img
					width 100%
					height 100%
