@font-face
	font-family Cabin
	font-weight 200
	src url('../fonts/Cabin-Regular.ttf')

@font-face
	font-family Cabin
	font-weight 400
	src url('../fonts/Cabin-Medium.ttf')

@font-face
	font-family Cabin
	font-weight 600
	src url('../fonts/Cabin-SemiBold.ttf')


@font-face
	font-family Cabin
	font-weight 800
	src url('../fonts/Cabin-Bold.ttf')


.layout-row>div
	max-height inherit !important

.centro
	min-height calc(100vh - 150px)
