.home-container
	.home-content
		section.grid-container
			md-checkbox(ng-model="ctrl.tipos.todo" ng-change="ctrl.tipos.default()") Todo
			md-checkbox(ng-repeat="tipo in ctrl.tipos"  ng-model="tipo.check" ng-change="tipo.cambio()") {{tipo.nombre}}
			md-grid-list(md-cols-gt-md='10' md-cols='4' md-cols-sm="2" md-cols-md='10' md-row-height-gt-md='1:1' md-row-height='4:3' md-gutter-gt-md='16px' md-gutter-md='8px' md-gutter='4px')
				md-grid-tile(ng-repeat='grid in ctrl.grids.items' md-colspan='{{grid.tamanio.y}}' md-rowspan='{{grid.tamanio.x}}' )
					.contenido
						.capa
						.imagen(style="background-image:url({{grid.imagen[0].imagen}}); width: 100%; height : 100%")
						md-grid-tile-footer
							p {{grid.nombre}}
						.ir
							md-button
								span Ver
								md-icon arrow_right_alt
			.div#club
		section.club(layout="row")
			.texto(flex="60")
				p BIENVENIDO AL
				h1 CLUB
				.texto-descripcion
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id deleniti, harum modi incidunt namnihil atque aspernatur nulla provident eum ut accusamus quam ullam temporibus! Commodi iste quas, quae voluptate.
			.carrousel-content(flex="40")
				.slider(layout="row" flex)
					.imagen-container(ng-repeat='imagen in ctrl.instalaciones.items')
						//-.imagen(style="background-image:url({{imagen.imagen[0].imagen}}); width: 100%; height : 100%; background-position: center; background-repeat: no-repeat; background-size: cover;" ng-click="ctrl.instalaciones.mandarAinstalacion(imagen.id)")
						p {{imagen.nombre}}
		section.ambiente
			.texto
				p AMBIENTE
				H1 FAMILIAR
			md-grid-list(md-cols='4' md-cols-md='2' md-cols-sm='2' md-row-height-gt-md='1:1' md-row-height='4:3')
				md-grid-tile(md-colspan="1" md-rowspan="1" style="background-image:url('img/1.png')")
				md-grid-tile(md-colspan="1" md-rowspan="1" style="background-color: #8e2f2e" layout="column")
					.datos(layout="column")
						h1 Seguridad
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui reiciendis nostrum nobis neque
				md-grid-tile(md-colspan="1" md-rowspan="1" style="background-image:url('img/2.png')")
				md-grid-tile(md-colspan="1" md-rowspan="1" style="background-image:url('img/3.png')")
				md-grid-tile(md-colspan="1" md-rowspan="1" style="background-color: #3a512c" layout="column")
					.datos(layout="column")
						h1 Exclusivo
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui reiciendis nostrum nobis neque
				md-grid-tile(md-colspan="1" md-rowspan="1" style="background-image:url('img/4.png')")
				md-grid-tile(md-colspan="1" md-rowspan="1" style="background-image:url('img/5.png')")
				md-grid-tile(md-colspan="1" md-rowspan="1" style="background-color: #3a512c" layout="column")
					.datos(layout="column")
						h1 Tranquilidad
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui reiciendis nostrum nobis neque
