.instalaciones-container
	.instalaciones-content
		.texto-container(layout="column" style="min-width : 400px")
			.texto
				p CONOCE Y ENCUENTRA
				h1 TU ESPACIO
			.descripcion
				p  Contamos con multiples instalaciones donde podrás disfrutar de tu memberia con nosotros.
		.grid-instalaciones
			md-grid-list(md-cols="3" md-row-height-gt-md="1:1" md-row-height="1:1" md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px")
				md-grid-tile(md-colspan="1" md-rowspan="1" ng-repeat="imagen in ctrl.instalaciones.items")
					.capa
					.imagen(style="background-image:url({{imagen.imagen[0].imagen}}); width: 100%; height : 100%;")
					md-grid-tile-footer(layout-align="center center")
						p {{imagen.nombre}}
					.ir
						md-button(ng-click="ctrl.instalaciones.mandarAinstalacion(imagen.id)")
							span Ver
							md-icon arrow_right_alt
